<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ced_Brand::brand_module"
             title="Brand"
             module="Ced_Brand"
             sortOrder="10"
             resource="Magento_Backend::content"
             dependsOnConfig="brand/general/enabled"
        />

        <add id="Ced_Brand::brand"
             title="Brand"
             module="Ced_Brand"
             sortOrder="10"
             action="brand/brand/index"
             parent="Ced_Brand::brand_module"
             resource="Magento_Backend::content"
        />
    </menu>
</config>