<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="directory_employeeui_listing_data_source" xsi:type="string">EmployeeListingDataProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="EmployeeListingDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">employee</argument>
            <argument name="resourceModel" xsi:type="string">Ced\Directory\Model\ResourceModel\Directory</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="portfolioimages_listing_data_source" xsi:type="string">PortfolioImagesListingDataProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="PortfolioImagesListingDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">portfolio_images</argument>
            <argument name="resourceModel" xsi:type="string">Ced\Directory\Model\ResourceModel\PortfolioImages</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="portfolioimages_form_data_source" xsi:type="string">PortfolioImagesFormDataProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="PortfolioImagesFormDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">portfolio_images</argument>
            <argument name="resourceModel" xsi:type="string">Ced\Directory\Model\ResourceModel\PortfolioImages</argument>
        </arguments>
    </virtualType>

    <type name="Ced\Directory\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">directory/tmp/images</argument>
            <argument name="basePath" xsi:type="string">directory/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>

</config>