<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ced_Directory::directory"
             title="Ced"
             module="Ced_Directory"
             sortOrder="10"
             resource="Magento_Backend::content" />

        <add id="Ced_Directory::employee"
             title="Employee"
             module="Ced_Directory"
             sortOrder="1"
             action="directory/employee/index"
             parent="Ced_Directory::directory"
             resource="Magento_Backend::content"
        />

        <add id="Ced_Directory::employee_ui"
             title="Employee UI"
             module="Ced_Directory"
             sortOrder="1"
             action="directory/employeeui/index"
             parent="Ced_Directory::employee"
             resource="Magento_Backend::content"
        />

        <add id="Ced_Directory::portfolio_images"
             title="Portfolio Images"
             module="Ced_Directory"
             sortOrder="1"
             action="directory/portfolioimages/index"
             parent="Ced_Directory::employee_ui"
             resource="Magento_Backend::content"
        />
    </menu>
</config>