<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\Catalog\Model\Layer" type="Ced\FileExtending\Model\Layer" />-->
    <!--<type name="Magento\Catalog\Model\Layer">
        <plugin name="extended_layer" type="Ced\FileExtending\Model\Layer" sortOrder="1" />
    </type>-->
</config>