<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!--<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="productextended_listing_data_source" xsi:type="string">ProductExtendedListingDataProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ProductExtendedListingDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">portfolio_images</argument>
            <argument name="resourceModel" xsi:type="string">Ced\Directory\Model\ResourceModel\PortfolioImages</argument>
        </arguments>
    </virtualType>-->
</config>